/* style the image of the platformer game*/
#pg1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center The Link*/
#pj1Link {
    text-align: center;
  }


/* styling the link further*/

#Project1 a:link {
    background-color: rgb(236, 91, 255);
    padding: 14px 25px;
    text-decoration: none;
    border: 1px solid black;
    display: inline-block;
  }

#Project1 a:hover{
    background-color: rgb(159, 57, 172);
  }
